{% extends 'base.html.twig' %}

{% block title %}Hello FrontpageController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/hyperclock/2L8_PROJECTS/Gitlab/flixpipe/src/Controller/FrontpageController.php'|file_link(0) }}">src/Controller/FrontpageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/hyperclock/2L8_PROJECTS/Gitlab/flixpipe/templates/frontpage/index.html.twig'|file_link(0) }}">templates/frontpage/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
