<?php require_once("includes/config.php"); ?>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/master.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cookieconsent.min.css') }}">
 {% endblock stylesheets %}

    <title>{% block title %}FlixPipe{% endblock %}</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="{{ asset('images/logos/favicon.png') }}"/>
  </head>
  <body>
    <div id="pageContainer"><!-- start page container -->

{% block navbar %}
      <div id="mastHeadContainer"><!-- start navbar container -->
        <button type="button" name="button" class="navShowHide">
          <img src="{{ asset('images/icons/menu.png') }}" />
        </button>

        <a href="{{ path('frontpage') }}" class="logoContainer">
          <img src="{{ asset('images/logos/logo.png') }}" title="logo" alt="Site Logo" />
        </a>

        <div class="searchBarContainer">
          <form class="" action="search.php" method="GET">
            <input type="text" name="term" class="searchBar" value="" placeholder="Search...">
            <button type="button" name="button" class="searchButton">
              <img src="{{ asset('images/icons/search.png') }}" title="search" alt="Search" />
            </button>
          </form>
        </div>

        <div class="rightIcons">
<!--|| Language Switcher ||-->
<!--<div class="row">
  <div class="col-xs-3 col-sm-1 col-md-1 col-xs-offset-6 col-sm-offset-10 col-md-offset-10">-->
    <a href="/en" class="thumbnail">
      <img src="{{ asset('images/flags/us.png') }}" alt="english">
    </a>
  <!--</div>
  <div class="col-xs-3 col-sm-1 col-md-1">-->
    <a href="/de" class="thumbnail">
      <img src="{{ asset('images/flags/de.png') }}" alt="german">
    </a>
  <!--</div>
</div>-->


<!--|| Language Switcher Ends ||-->
          <a href="{{ path('upload') }}">
            <img src="{{ asset('images/icons/upload.png') }}" class="upload" title="upload" alt="Upload" />
          </a>

          <a href="#">
            <img src="{{ asset('images/profilePictures/default.png') }}" class="upload" title="upload" alt="Upload" />
          </a>
        </div>
      </div><!-- end navbar container -->
{% endblock navbar %}


      <div id="sideNavContainer" style="display: none;"><!-- start sidebar container -->
{% block sidebar %}
{% endblock sidebar %}
      </div><!-- end sidebar container -->



      <div id="mainSectionContainer"><!-- start section container -->
        <div id="mainContentContainer"><!-- start content container -->
{% block body %}
{% endblock body %}



        </div><!-- end content container -->
      </div><!-- end section container -->
    </div><!-- end page container -->

    {% block footer %}
        <footer class="footer mt-auto py-3 bg-light text-center float-bottom">
            <div class="container">
            <span class="text-muted">FlixTube &copy; 2020-{{ "now" | date("Y") }} JMColeman, 2L8 Projects.&nbsp;&nbsp;|&nbsp;&nbsp;Lateset Version: {{ shivas_app_version }}&nbsp;&nbsp;|&nbsp;&nbsp;License: BSD</span>
            <br>
                <span class="footer-info">
                    <a href="#">{{ 'legal.terms'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">{{ 'legal.disclaimer'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">{{ 'legal.privacy'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">{{ 'legal.trademarks'|trans }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">{{ 'legal.imprint'|trans }}</a>
                </span>
            </div>
        </footer>
    {% endblock footer%}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- FontAwesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
    <!-- jQuery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/commonActions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cookieconsent.min.js') }}"></script>
  </body>
</html>
